mixin news(post)    
    div 
        div 
            img(src=post.owner.avatarUrl,width="100",height="100")
            small #{post.owner.name}
        h4
            a(href=`/videos/${post.id}`)=post.title
        p=post.content         
        small=post.createdAt 
        div
            if(post.videoFileUrl !== "")
                post(src="/"+post.videoFileUrl,width="500",height="500",controls=true,data-id=post._id)
            if(post.imageFileUrl !== "")
                img(src="/"+post.imageFileUrl,width="200",height="200")
        hr
