extends base.pug

block content
    div.news(data-id=news._id)
        div 
            img(src=news.owner.avatarUrl,width="100",height="100")
            small #{news.owner.name}
        hr
        div
            h3=news.title
            p=news.content
        div
            if(news.videoFileUrl !== "")
                video(src="/"+news.videoFileUrl,width="500",height="500",controls=true)
            if(news.imageFileUrl !== "")
                img(src="/"+news.imageFileUrl,width="200",height="200")
        hr
        div
        if String(news.owner._id) === String(loggedInUser._id)
            a(href=`${news.id}/edit`) 게시글 편집 &rarr;
            br
            a(href=`${news.id}/delete`) 게시글 삭제 &rarr;
        hr
        if loggedIn
            div.video__add-comments 
                form.video__comment-form#commentForm
                    textarea(cols="30",rows="10",placeholder="댓글 추가...")
                    button 댓글
        div.video__comments
            ul 
                each comment in news.comments.reverse() 
                    li(data-id=comment._id)
                        span #{comment.text}
                        if String(comment.owner)===String(loggedInUser._id)
                            span.delBtn ❌
block scripts
    script(src="/assets/js/commentSection.js") 

